//Глобальные переменные

$blockBackground: #fcfafa;
$backgroundColor: #f4f5f7;
$headingColor: #010101;
$paragraphColor: #1c1c1c;
$captionColor: #4a4a4a;
$blockBackground2: #eff3f7;
$warningColor: #fc7557;
$viewedColor: #ffc73a;
$correctColor: #31c5b7;

$color8: #43c5e6;
$hoverColor: #7f9dff;

$blockBackground3: #f2f2f2;
$scrollBarColor: #dad7d7;

$blocksShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$blocksBorder: 1px solid rgba(0, 0, 0, 0.1);

$sidebarLinkShadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);

$button-padding: 12px 30px;
$border-radius: 8px;
$smallBorderRadius: 6px;
$bigBorderRadius: 15px;

$transition: 0.25s all ease-in-out;
