@import "@styles/global.scss";
.LoginForm {
  border-radius: 20px;
  background-color: $blockBackground;
  width: 30%;
  min-width: 550px;

  padding: 3rem 3.5rem;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  box-shadow: $blocksShadow;
  border: $blocksBorder;
  p {
    font-size: 0.9rem;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .InputBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    .InputBlockHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .errorMsg {
    color: $warningColor;
  }

  button {
    margin-top: 10px;
    width: 100%;
  }
  .or {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: $captionColor;
    white-space: nowrap;
    hr {
      width: 32%;
    }
  }
  .Icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .AccentColor {
    color: $color8;
  }
}
