@import "@styles/global.scss";
.CreateTest {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: $color1;
  box-shadow: $blocksShadow;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  cursor: pointer;
}
