@import "@styles/index.scss";

.PassingTestPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  @include mobile {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
