@import "@styles/index.scss";
.questionBlock {
  width: 100%;
  padding: 2.5rem;
  background-color: $blockBackground;
  box-shadow: $blocksShadow;
  border: $blocksBorder;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  .question {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 5px;
    > .title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > span {
        color: $warningColor;
        font-size: 0.9rem;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .answers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .answer {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      gap: 5px;

      .inputs {
        display: flex;
        gap: 0.5rem;
        width: 100%;
      }
      .trashIcon {
        padding: 0.3rem;
        cursor: pointer;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: $smallBorderRadius;
        svg {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}
