@import "@styles/index.scss";

.CustomTextArea {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background-color: $blockBackground2;
  border-radius: $border-radius;
  TextArea {
    resize: none;
    height: 15vh;
    width: 100%;
    margin: 0.5rem 1rem;
    line-height: 24px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  TextArea[type="checkbox"] {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    padding: 10px;
    &::-webkit-scrollbar {
      width: 0.5rem;
      margin-right: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: $scrollBarColor;
    }
  }
  .icon {
    margin: 5px 0 5px 10px;
  }
}
.checkbox {
  background-color: transparent;
  width: auto;
}
