@import "@styles/index.scss";
.ProfilePage {
  width: 100%;
}
.ProfileBody {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 25px;
  margin-right: 10%;
  @include mobile {
    flex-direction: column-reverse;
    margin-right: 0;
  }
  .backBlock {
    @include mobile {
      width: 100%;
    }
  }
}
