@import "@styles/global.scss";
.ProfileCard {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $color1;
  padding: 50px;
  border-radius: 15px;
  .Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .AvatarBlock {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
  }
  .NameBlock {
    display: inline-flex;
    align-items: center;
    gap: 20px;
  }
  .InputsBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    width: 40%;
  }
  .Buttons {
    margin-top: 130px;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 50%;
  }
}
