.ProfileCard {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .AvatarBlock {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%;
  }
  .NameBlock {
    display: inline-flex;
    align-items: center;
    gap: 20px;
  }
  .ButtonsBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 20%;
  }
}
