@import "@styles/global.scss";
.RegisterForm {
  border-radius: 6px;
  background-color: $color2;
  width: 30%;
  min-width: 300px;
  max-height: 700px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  .InputBlocks {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .InputBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .errorMsg {
    color: red;
  }
}
