@import "@styles/global.scss";

.button {
  width: 100%;
  background-color: $color1;
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
}

.primary {
  background-color: $color2;
}

.text {
  background-color: transparent;
}
