@import "@styles/global.scss";
.NavBar {
  width: 90%;
  margin: 20px auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-radius: 15px;

  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  border: $blocksBorder;

  .nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > a {
      font-size: 1.2rem;
    }
  }
}
