@import "@styles/global.scss";
.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px $color5;
  padding-bottom: 20px;
  .RightBlock {
    width: 30%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
