@import "@styles/index.scss";
.testPassingForm {
  border-radius: 10px;
  background-color: $blockBackground;
  width: 68%;
  height: 90vh;

  padding: 2rem;
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  border: $blocksBorder;
  box-shadow: $blocksShadow;

  @include mobile {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    h2 {
      font-size: 1.5rem;
    }
  }

  .title {
    overflow-y: scroll;
    height: 9rem;
    overflow-wrap: break-word;

    &::-webkit-scrollbar {
      width: 0.5rem;
      margin-right: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: $scrollBarColor;
    }
  }

  .testProgressing {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      font-size: 1.5rem;
      color: $captionColor;
    }
    .widthLine {
      display: flex;
      align-items: center;

      .colorLine {
        width: 0%;
        border: solid 2px $color8;
        transition: 0.5s;
      }
      .normalLine {
        border: solid 1px $backgroundColor;
        transition: 0.5s;
        width: 100%;
      }
    }
    @include mobile {
      p {
        font-size: 1rem;
      }
    }
  }
  .answersBlock {
    padding: 1rem 1rem 1rem 0;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    text-overflow: clip;

    &::-webkit-scrollbar {
      width: 0.5rem;
      margin-right: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: $scrollBarColor;
    }

    .answerBlock {
      width: 100%;
      justify-content: left;
      gap: 1rem;
      align-items: center;
      display: flex;
      p {
        font-size: 1.5rem;
      }
    }
  }

  .buttons {
    margin-top: 1rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  .justifyContendEnd {
    justify-content: end;
  }
}
